
@font-face {
    font-family: 'League Spartan';
    src: url('/static/shop/fonts/LeagueSpartan/WOFF2/LeagueSpartan-VF.woff2') format('woff2-variations'),
         url('/static/shop/fonts/LeagueSpartan/WOFF/LeagueSpartan-VF.woff') format('woff');
    font-weight: 200 900;
}

@font-face {
    font-family: 'Fanwood';
    src: url('/static/shop/fonts/Fanwood/WOFF/fanwood_text-webfont.woff') format('woff');
    font-weight: 200 900;
}

@font-face {
    font-family: 'Fanwood-Regular';
    src: url('/static/shop/fonts/Fanwood/WOFF/fanwood-webfont.woff') format('woff');
    font-weight: 200 900;
}

 /* REFERENCE DESIGN PAGES https://maestrostudija.lt/ : https://freshcut-barbershop.com/a-propos/ https://www.eddysbarbershop.com/  https://www.steventabach.com/
    https://www.abelsonqueen.com/   EPIC ---> https://www.fortworthbarbershop.com/
   -- SCROLL BOTTOM CUTOM APPEARANCE - ITEMS APPEAR GRADUALLY FROM THE BOTTOM*/
/* WIX DESIGN --> https://editor.wix.com/html/editor/web/renderer/edit/aa34734d-6d67-411a-bb51-428a9c0a94c7?metaSiteId=6744f61d-b66b-4011-9d7a-f643292ccb19 */

:root {
    /* font-family: 'League Spartan', sans-serif; */
    /* font-weight: 400;  */

    /* --main-font: "Fahkwang", sans-serif;
    --font-weight: 400; */
    /* --main-font: 'League Spartan', sans-serif; */
    --main-font: 'Fanwood', sans-serif;
    --heading-font: '';
    --secondary-font:"Helvetica", sans-serif;
    --main-color: rgb(255, 255, 255);
    --secondary-color: #363636;
    --middle-secondary-color: #cdcdcd;
    --text-color: #363636;
     /* BUTTONS */
    --button-color: #f5ae71;
    /* --button-color: #c71414; */
    --button-color_two: #ec7c0c00;
    /* --button-font: 'Roboto', sans-serif; */
    --button-font: 'Fanwood-Regular', sans-serif;
    --button-font-weight: 300; 
    --button-text-color: white;
    
    --max-width: 1275px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}








/* CSS -=-------------------------------- 57 */
.button-57 {
    
    font-family: var(--button-font);
    font-weight: var(--button-font-weight);
    font-size: 30px;

    margin-top: 20px;
    position: relative;
    overflow: hidden;

    border: 1px solid var(--button-color); /* First outline */
    box-shadow: 0 0 0 2px var(--main-color),      /* White gap inside? */
                0 0 0 4px var(--button-color); /* Second outline */

    color: var(--button-text-color);
    /* display: inline-block; */
    display: block;  
    width: 200px;
    height: 47px;
    line-height: 15px;
    /* padding: 16px 45px 16px; */
    
    text-decoration: none;
    cursor: pointer;
    background: var(--button-color);
    /* background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%); */
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: border 300ms ease, box-shadow 300ms ease;
  }
  
  .button-57 span:first-child {
    top: 25%;  /* CONTROLLS THE HEIGHT OF THE MAIN TEXT WITHIN BUTTON  */
    position: relative;
    transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 10;
  }
  
  .button-57 span:last-child {
    color: var(--secondary-color);
    display: block;
    position: relative;
    bottom: 0;
    transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 100;
    opacity: 0;
    top: 20%; /* CONTROLLS THE HEIGHT OF THE MAIN TEXT WITHIN BUTTON  */
    left: 50%;
    transform: translateY(225%) translateX(-50%);
    /* transform: translateY(0%) translateX(-50%); */
    /* height: 14px; */
    line-height: 13px;
  }
  
  .button-57:after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: 0;
    width: calc(100% - 1px);
    height: 100%;
    background-color:white;
    transform-origin: bottom center;
    transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
    transform: skewY(9.3deg) scaleY(0);
    z-index: 50;

  }
  
  .button-57:hover:after {
    background-color:white;
    transform-origin: bottom center;
    transform: skewY(9.3deg) scaleY(2);
  }

  .button-57:hover {
    border: 2px solid var(--secondary-color);
    box-shadow: 0 0 0 2px var(--main-color),
                0 0 0 4px var(--secondary-color);

  }
  
  .button-57:hover span:last-child {
    transform: translateX(-50%) translateY(-100%);
    opacity: 1;
    transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
  }
  /* CSS -=-------------------------------- 57 */


/* ------------------------- S - BUTTON  */

.button-s{
    margin: 40px 0 0 0;
    padding: 10px 0 0 0;
  
    outline: none;
    border: 1px solid var(--button-color); /* First outline */
    box-shadow: 0 0 0 2px var(--main-color),      /* White gap inside? */
                0 0 0 4px var(--button-color); /* Second outline */

    background: var(--button-color);
    color: white;
    letter-spacing: 3px; /* Adjust this value as needed */
    font-family: 'Fanwood-Regular', sans-serif;
    font-size: 27px;
    
    width: 200px;
    height:47px;
    /* transition: color 300ms ease, background-color 300ms ease; */
    
}
.button-s:hover{
    outline: none;
    color: var(--secondary-color);
    background: var(--main-color);
    border: 0px solid var(--secondary-color); /* First outline */
    box-shadow: 0 0 0 2px var(--main-color),      /* White gap inside? */
                0 0 0 3px var(--secondary-color), /* Second outline */
                0 0 0 5px var(--main-color),
                0 0 0 6px var(--secondary-color);
}

/* ------------------------- S - BUTTON  */

body {
    background-color: var(--main-color);
    margin: 0px;
}

.about_section {
    width: 100%;
    /* background-color: var(--secondary-color); */
    /* background-image: url("/static/shop/img/smoke_lowres_two_AI.PNG");  */
    /* background-image: linear-gradient(#fff 0%, #fff 0%); */
    background: var(--middle-secondary-color);
    background-size: cover; /* Ensures the image covers the entire div */
    background-position: center; /* Centers the image within the div */
    padding: 1px;
}

.about_section .inner_card {
    display: flex;
    background-color: var(--main-color);
    margin-left:5%;
    margin-right:5%;
    margin-top:3%;
    margin-bottom:3%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.about_section .inner_card .text_container { 
    flex: 1;
    padding-left:11%;
    padding-right:14%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* padding-top:30px; */
}   

.about_section .text_container h1 {
    font-family: var(--main-font);
    color: var(--text-color);
    font-size: 90px;
    font-weight: 800;
    letter-spacing: 15px;
    transform: scale(1.00, 1.0);
}

.about_section .text_container h2 {
    font-family: var(--main-font);
    color: var(--text-color);
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 7px;
    transform: scale(1.00, 1.0);
    margin:15px 0 0 0;
}

.about_section .text_container p {
    margin: 40px 0 0 0;
    font-family: var(--main-font);
    color: var(--text-color);
    font-weight: 300;
    font-size: 21px;
    line-height: 1.3;
    /* letter-spacing: 2px; */
    transform: scale(1.00, 1.0);
}

.about_section .image_container{
    width:60vh;
    height: 60vh;
    display:flex;
}

.about_section .image_container img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.navbar_social_media {
    margin-top: 40px;
}

.first_icon{
    color: var(--text-color);
    text-decoration:none;
    align-self: center;
    padding-top: 5px;
    transition: all 0.3s ease;
}

.icon {
    color: var(--text-color);
    margin-left: 20px;
    text-decoration:none;
    align-self: center;
    transition: all 0.3s ease;
}

.icon:hover {
    color: var(--button-color);
}

.first_icon:hover {
    color: var(--button-color);
}







.products_section {
    font-family: var(--main-font);
    color: var(--text-color);
}


.products_section h1 {
    padding-top: 5%;
    font-weight: 800;   
    letter-spacing: 15px;
    font-size: 90px;
    color: var(--text-color);
    text-align: center;
}

.products_section p {
    padding-top: 2%;
    text-align: center;
    font-size: 21px;
    line-height: 1.3;
    font-weight: 300;
}

.products_section .product_container {
    display: flex;
    width: 100%;
}

.products_section .header_container{
    margin-bottom: 5%;
}

.products_section .image_container {
    width: 50%;
    height: 60vh;
    display: flex;
}

.products_section .image_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.products_section .text_container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}


.products_section .text_container h1{
    font-size: 35px;
    font-weight:600;
    letter-spacing: 0.1vw;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    margin: 0 0 65px 0;
}

.products_section .text_container p{
    font-size: 25px;
    padding-top: 0%;
    padding-left:2%;
    padding-right:2%;
}

.products_section .location_container { 
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}








#search_button{
    margin-right: 20px;
    background-color: transparent;
    color: var(--text-color);
    text-decoration:none;
    border: 1px solid transparent;
}

#search_button i{
    font-size: 1.2rem;
}

#search_button:hover {
    color: var(--button-color);
}

.header {
    height: 14vh;
    width:100%;
    display:flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    background-color: rgb(255, 255, 255);
    z-index: 1000;
    align-items:center;
}

.header .logo_container {
    padding-left:3%;
    flex: 1;
    display: flex;
    font-family: var(--main-font);
    color: var(--text-color);
    align-items: center; /* UP AND DOWN */
    justify-content: end; /* LEFT RIGHT */
    margin-right: 40%;
}

.header .logo_container img {
    height:13vh;
    width: 14vh;
}

.search_container { 
    font-family:'Roboto';
    margin-left: 5%;
    display: flex;
    align-self: flex-start;
    height: 100%;
    align-items: center;
}

.inside_menu {
    position: fixed;
    top: 0;
    left: -50%;
    height: 100%;
    width: 40%;
    background-color: var(--middle-secondary-color);
    padding: 40px 35px;
    box-shadow: 2px 0 10px rgba(0,0,0,0.3);
    transition: left 0.3 ease;
    z-index: 1001
}

.inside_menu ul{
    margin: 0 0 0 5%;
    list-style: none;
}

.inside_menu ul li{
    margin: 10% 0 0 0;
}

.inside_menu ul li a {
    text-decoration: none;
    color: var(--secondary-color);
    font-family: 'League Spartan';
    font-weight: 300;
    font-size: 55px;
}

.inside_menu ul li a:hover {
    color: var(--button-color); 
    font-weight: 200;
    /* background-color: rgba(0, 0, 0, 0.116);
    box-shadow: 0px 0px 0px 20px rgba(0, 0, 0, 0.116); */
    
  

}

.inside_menu .close_btn {
    font-size: 50px;
    
}

.inside_menu .close_btn:hover {
    color: var(--button-color);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.3);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1000
}

.inside_menu.active {
    left: 0;
}

.overlay.active {
    visibility: visible;
    opacity: 1;
}

.menu{
    margin: 0 5% 0 0;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
}

/* Hamburger lines */
.menu span {
    display: block;
    height: 3px;
    background-color: var(--secondary-color);
}

/* form starting stylings ------------------------------- */
.search_container .group{ 
    position:relative; 
}

.search_container input {
    background-color: transparent;
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:300px;
    border:none;
    color: var(--secondary-color);
}

.search_container input:focus{ 
    outline:none; 
}
  
  /* LABEL ======================================= */
.search_container label {
    color:#b8b8b88e; 
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
}
  
  /* active state */
.search_container input:focus ~ label, input:valid ~ label {
    top:-20px;
    font-size:14px;
    color: var(--button-color_two);
}
  
  /* BOTTOM BARS ================================= */
.search_container .bar {
     position:relative; display:block; width:300px;
}

.search_container .bar:before, .bar:after {
    content:'';
    height:1px; 
    width:0;
    bottom:1px; 
    position:absolute;
    background: var(--button-color); 
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
}

.search_container .bar:before {
    left:50%;
}

.search_container .bar:after {
    right:50%; 
}
  
  /* active state */
.search_container input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
}
  
  /* HIGHLIGHTER ================================== */
.search_container .highlight {
    position:absolute;
    height:60%; 
    width:100px; 
    top:25%; 
    left:0;
    pointer-events:none;
    opacity:0.5;
}
  
  /* active state */
.search_container input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
}
  





.footer_section {
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    width: 100%;
    padding:5%;
    justify-content: center;
}


.footer_section span{
    
    margin: 0 0 0 5%;
    padding: 0 0 0 0;
    display: block;
    width: 85%;
    height: 1px;
    background: var(--secondary-color);
}

.footer_section .inner {
    display: flex;
    flex-direction:row;
    border-top: 1px solid white;
    align-items: center;
    justify-content: space-between;
    padding-top:40px;
}

.footer_section .inner h1 {
    font-family: var(--main-font);
    color: var(--text-color);
    font-weight: var(--font-weight);
}

.right_side {
    display: flex;
    flex-direction:row;
}

.footer_section .inner p {
    font-family: var(--main-font);
    color: var(--text-color);
    font-weight: var(--font-weight);
}

.contact_info {
    margin-right: 15%;
}



@media (max-width: 900px ) {
    /* .about_section .inner_card{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about_section .inner_card .text_container {
        padding-left: 0%;
        margin-bottom: 5%;
        align-items: center;
    }

    .products_section .product_container {
        flex-direction: column;
        align-items: center;
    } */

    .products_section .text_container h1{
        font-size: 5.1vw;
        font-weight:700;
        padding-top: 2%;
    }

    .products_section .text_container p{
        font-size: 2.6vw;
        padding-top: 0%;
    }

    .header .logo_container {
        flex: 1;
        display: flex;
        font-family: var(--main-font);
        color: var(--text-color);
        align-items: center; /* UP AND DOWN */
        justify-content: end; /* LEFT RIGHT */
        margin-right: 14%;
    }



}


