
/* <div class="opener_section">
    <div class="image_container">
        <img src="{% static '/shop/img/Opener3_AI_UP2x.PNG' %}" alt="Profile Image"/>
    </div>
</div> */



.opener_section .image_container {
    display:flex;
    height:112vh;
    width: 100%;
    overflow: hidden; /* Ensures image stays within bounds */
    position: relative; /* Allows .gradient-overlay to align properly */
}


.opener_section .image_container .img {
    width:100%;
    height:100%;
    background:
        url("/static/shop/img/Opener.jpg") no-repeat top center / cover;
        /* url('/static/shop/img/HRezBeardT.png') no-repeat top center / cover; */
    background-blend-mode: normal;
    z-index:-1;
}
.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2; /* On top of the image */
    background: linear-gradient(
        to bottom,
        transparent 60%,
        #100c0c81 75%,
        #100c0cc5 83%,
        #100c0cf5 94%,
        var(--secondary-color) 100%
    );
    pointer-events: none; /* Ensures the gradient doesn’t block interactions */
}

.opener_section {
    display: flex;
}

.opener_section .text_container {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    position: absolute;
    width: 100%;
    height: 100%;
    align-self: center;
    align-items: center;
    justify-content: center;
    margin-bottom:10%;
}
.opener_section .text_container h2 {
    width:100%;
    text-align:center;
    font-family: 'League Spartan', sans-serif;
    letter-spacing:1px;
    font-size: 36px;
}
.opener_section .text_container h1 {
    margin-top: 30px;
    width:100%;
    text-align:center;
    transform: scale(1.00,1.2);

    font-family: 'Chunk Five', sans-serif;
    letter-spacing:6px;
    font-size: 120px;
}




